<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="titles.css">
</head>
<body>
  <header class="header">
    <p class="site-title-sub">----- Web application portfolio -----</p>
    <h1 class="site-title">My WORKS</h1>
    <p class="site-description">Check out some of my works.</p>
    <div class="buttons">
      <a class="button" href="#about">Plofile more</a>
      <a class="button button-orange" href="#works">Portfolio link</a>
    </div>
  </header>

  <section class="about" id="about">
    <h2 class="heading">PROFILE</h2>
    <p class="about-text">
      エンジニアという仕事に興味をもちプログラミングスクールに通いました。興味を持った理由は、IT技術に興味があったからと手に職をつけたいという思いがあったからです。<br>
      学習したこと<br>
      ・html、css、scss、haml<br>
      ・javascript、jquery<br>
      ・ruby on rails<br>
      ・heroku、aws
    </p>
  </section>

  <section class="works" id="works">
    <h2 class="heading">MY WORKS</h2>
    <div class="works-wrapper">
      <div class="work-box">
        <p2>
          Portfolio
        </p2>
        <div class="work-description">
          <br>
          <li>
            <%= link_to '詳細', "", { :class => "button button-ghost" } %>
          </li>
        </div>
      </div>

      <div class="work-box">
        <p2>
          Portfolio
        </p2>
        <div class="work-description">
          <li>
          talkroom<br>
          </li>
          <li>
            <%= link_to '詳細', "http://52.199.242.162/", { :class => "button button-ghost" } %>
          </li>
        </div>
      </div>

      <div class="work-box">
        <p2>
          Portfolio
        </p2>
        <div class="work-description">
          <li>
          mercari<br>
          </li>
          <li>
            <%= link_to '詳細', "http://18.179.213.108/", { :class => "button button-ghost" } %>
          </li>
        </div>
      </div>
    </div>
  </section>
</body>
</html>


